<section class="preguntas container">
  <h2 class="subtitle"><span class="subtitle_cuadro">Preguntas frecuentes</span></h2>
  <p class="preguntas_parrafo">¿Tienes preguntas?, aquí te las resolvemos.</p>

  <section class="preguntas_container">
      <article class="preguntas_padding">
          <div class="preguntas_contenido">
              <h3 class="preguntas_title">¿Cuál es el precio de los servicios veterinarios?
                  <span class="preguntas_flecha">
                      <img src=".\assets\images\plus-circle.svg" class="preguntas_img">
                  </span>
              </h3>
              <p class="preguntas_show">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit modi non alias odio, laboriosam, aperiam sunt pariatur neque ipsum quaerat maxime maiores soluta quo, minus eligendi! Commodi illo sequi magnam, eos exercitationem est delectus excepturi culpa ipsum et ullam dolorum itaque tempore obcaecati optio quia! Optio dolore qui esse aspernatur impedit! Corporis ab dicta atque laborum ex quaerat soluta quibusdam.</p>
          </div>
      </article>

      <article class="preguntas_padding">
          <div class="preguntas_contenido">
              <h3 class="preguntas_title">¿Cuáles son los horarios de atención?
                  <span class="preguntas_flecha">
                      <img src=".\assets\images\plus-circle.svg" class="preguntas_img">
                  </span>
              </h3>
              <p class="preguntas_show">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, suscipit! Aut recusandae iusto adipisci tenetur cum magni atque reprehenderit magnam minima exercitationem. Qui hic unde praesentium repellat. Voluptate, quibusdam. Consectetur.</p>
          </div>
      </article>

      <article class="preguntas_padding">
          <div class="preguntas_contenido">
              <h3 class="preguntas_title">¿Ofrecen servicios 24 horas?
                  <span class="preguntas_flecha">
                      <img src=".\assets\images\plus-circle.svg" class="preguntas_img">
                  </span>
              </h3>
              <p class="preguntas_show">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, suscipit! Aut recusandae iusto adipisci tenetur cum magni atque reprehenderit magnam minima exercitationem. Qui hic unde praesentium repellat. Voluptate, quibusdam. Consectetur.</p>
          </div>
      </article>

  </section>

  <section class="dudas">
      <h2 class="subtitle"><span class="subtitle_cuadro">¿Aún tienes dudas?</span></h2>
      <!-- <p class="dudas_parrafo">Escribenos y </p> -->
      <a routerLink="/contact" class="boton">Contáctanos</a>
  </section>

</section>
