<footer class="footer">
  <section class="footer_container container">
      <h2 class="footer_title">Vet ElBosque</h2>
  </section>

  <section class="footer_copy container">
      <div class="footer_social">
          <a href="https://www.facebook.com/Vet.ElBosque" target="_blank" class="footer_icons"><img src=".\assets\images\facebook.svg" class="footer_img"></a>
          <a href="https://www.instagram.com/vet.elbosque/" target="_blank" class="footer_icons"><img src=".\assets\images\instagram.svg" class="footer_img"></a>
          <a href="#" class="footer__icons"><img src=".\assets\images\whatsapp.svg" class="footer_img"></a>
      </div>

      <h3 class="footer_copyright">Derechos reservados &copy; Vet ElBosque</h3>

  </section>

</footer>
