<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<app-hero-text [title]="'BLOG DE LAS MASCOTAS'"></app-hero-text>
<section class="post_cn container">
  <div class="head_post">
      <strong>Alimentación</strong>
      <div class="blog_autor">
          <div class="autor_info">
              <div class="blog_autor_img">
                  <img src=".\assets\images\minion.jpg" alt="img autor">
              </div>
              <div class="blog_autor_text">
                  <strong>Vet ElBosque</strong>
                  <span>Abril 14, 2023</span>
              </div>
          </div>

          <div class="blog_redes">
              <p>Compartir </p>
              <div>
                  <a href="https://www.facebook.com/sharer/sharer.php?u=https://www.w3schools.com/" target="_blank" class="post_icons"><img src=".\assets\images\facebook.svg" class="icon_blog_redes"></a>
                  <a href="https://api.whatsapp.com/send?text=https://www.w3schools.com/" target="_blank" class="post_icons"><img src=".\assets\images\whatsapp.svg" class="icon_blog_redes"></a>
                  <a href="https://twitter.com/intent/tweet?url=https://www.w3schools.com/" target="_blank"><img src=".\assets\images\twitter.svg" class="icon_blog_redes"></a>
              </div>
          </div>
      </div>
      <h2 class="subtitle"><span class="subtitle_cuadro">Cuidados con la alimentación de tu mascota</span></h2>

  </div>

  <div class="post_img">
      <img src=".\assets\images\dogs.jpg" class="post_pic" alt="post img">
  </div>

  <div class="post_arti_text">

      <article class="contenido_post">
          <p class="about_parrafo">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat, perferendis corporis. Fugit inventore distinctio laborum harum, deleniti molestiae neque quae debitis maiores in nesciunt vel ex autem. Ipsum autem necessitatibus voluptatum quas voluptate itaque quo harum est, doloribus fuga eaque exercitationem quam officia maiores facilis labore obcaecati iusto! Adipisci accusantium similique ratione recusandae, dignissimos expedita labore laboriosam sequi omnis libero officia sunt facere ab? Natus, id recusandae illo porro minus facere itaque. Reprehenderit numquam doloribus voluptatem dolorem exercitationem rerum quam!
          </p>
      </article>

  </div>

</section>
