<app-hero-text [title]="'QUIENES SOMOS'"></app-hero-text>
<section class="about_us container">
  <div class="ab_presentation">
      <iframe class="video_pres" width="560" height="315" src="https://www.youtube.com/embed/a3ICNMQW7Ok" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>

  <div class="about_text">

      <article class="about_container">
          <h2 class="subtitle"><span class="subtitle_cuadro">Nuestra historia</span></h2>
          <p class="about_parrafo">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat, perferendis corporis. Fugit inventore distinctio laborum harum, deleniti molestiae neque quae debitis maiores in nesciunt vel ex autem. Ipsum autem necessitatibus voluptatum quas voluptate itaque quo harum est, doloribus fuga eaque exercitationem quam officia maiores facilis labore obcaecati iusto! Adipisci accusantium similique ratione recusandae, dignissimos expedita labore laboriosam sequi omnis libero officia sunt facere ab? Natus, id recusandae illo porro minus facere itaque. Reprehenderit numquam doloribus voluptatem dolorem exercitationem rerum quam!
          </p>
      </article>

  </div>

</section>
