.contact_info {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.social_info {
  width: 300px;
  display: grid;
  align-content: center;
}

.subtitle_con {
  background-color: rgb(50, 159, 37);
  color: #fff;
  display: inline-block;
  border-radius: 10px;
  padding: 10px 40px;
  padding: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.subtitle_soc {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.horarios {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.social_media {
  text-align: left;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1em;
  padding-bottom: 15px;
  text-decoration: none;
}

.social_img {
  width: 50px;
  border-radius: 45%;
  background-color: var(--color-tittle);
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
}

.map_contact {
  box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
}

/* Inquietudes */

.inquietudes {
  width: 800px;
  padding-top: 0;
}

.subtitle {
  color: #fff;
  font-size: 2rem;
  margin-bottom: 25px;
  text-align: center;
}

@media only screen and (min-width:320px) and (max-width:768px){
	.cards {
		flex-wrap: wrap;
	}
	.card {
		margin: 15px;
	}
}

@media (max-width: 1063px){
    .hero_title {
        font-size: 2.5rem;
    }

    header, header.down {
        padding: 20px 40px;
    }
    header .btn {
        display: block;
    }

    header .menu {
        position: fixed;
        background: #184b68;
        min-width: 330px;
        height: 100vh;
        top: 0;
        right: -100%;
        padding: 80px 50px;
        transition: 0.5s;
        transition-property: right;
    }

    header .menu ul {
        flex-direction: column;
    }

    header .menu.active {
        right: 0;
    }

    header .menu .close-btn {
        position: absolute;
        top: 0;
        left: 0;
        margin: 25px;
    }

    header .menu a {
        display: block;
        font-size: 20px;
        margin: 20px;
        padding: 0 15px;
    }

    .articulo_container {
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px 0px;
        gap: 1em;
    }
}

@media (max-width: 1050px) {
    .contact_info {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .social_info {
        width: 50%;
        display: grid;
        align-content: center;
        margin-bottom: 50px;
    }

    .inquietudes {
        width: 90%;
        padding: 10px 10px 50px 10px;
    }
}

@media (max-width:920px) {
    .articulo_container {
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px 0px;
        gap: 1em;
    }
}

@media (max-width: 800px) {
    .container {
        padding: 70px 0;
    }

    .hero_container {
        padding: 100px 0;
    }

    .hero_title {
        font-size: 2.5rem;
    }

    .cards_main {
        padding-top: 40px;
        gap: 2em;
    }

    .item_icon:last-of-type {
        grid-column: 1/-1;
    }

    .team_container {
        grid-template-columns: 30px 1fr 30px;
    }

    .team_contenido {
        grid-template-columns: 1fr;
        grid-template-rows: max-content max-content;
        gap: 3em;
        justify-content: center;
    }

    .team_img {
        width: 200px;
        height: 200px;
    }

    .dudas_parrafo {
        width: 100%;
    }

    .footer_container {
        flex-wrap: wrap;
    }

    .footer_copy {
        padding: 30px 0;
        text-align: center;
        color: #fff;
    }

    .about_us {
        width: 90%;
    }

    .about_container {
        padding-top: 50px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .hero_ab {
        min-height: 300px;
        max-height: 300px;
    }

    .contact_info {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .social_info {
        width: 60%;
        display: grid;
        align-content: center;
        margin-bottom: 50px;
    }

    .map_info {
        width: 90%;
    }

    .map_contact {
        width: 100%;
    }

    .inquietudes {
        width: 90%;
        padding: 10px 10px 50px 10px;
    }

    .insta_blog {
        padding-top: 20px;
    }

    .post_cn .contenido_post {
        padding-top: 50px;
        padding-left: 20px;
        padding-right: 20px;
    }

}

@media (max-width: 600px) {
    .container {
        padding: 70px 0;
    }

    .post_cn {
        width: 90%;
    }

    .blog_redes {
        flex-direction: column;
    }

    .head_post {
        padding-left: 0;
        padding-right: 0;
    }

    .hero_container {
        padding: 100px 0;
    }

    .hero_title {
        font-size: 1.5rem;
    }

    .hero_parrafo {
        font-size: 1rem;
    }

    .subtitle {
        font-size: 1.8rem;
    }

    .card_title {
        font-size: 1rem;
    }

    .cards_main {
        width: 100%;
        grid-template-columns: auto;
    }

    .team {
        --padding-container: 60px 0;
    }

    .team_container {
        grid-template-columns: 28px 1fr 28px;
        gap: 0.9em;
    }

    .team_flecha {
        width: 100%;
    }

    .subtitle_cuadro {
        margin-top: 15px;
    }

    .dudas_title {
        font-size: 1rem;
    }

    .footer_copy {
        padding: 30px 0;
        text-align: center;
        color: #fff;
    }

    .footer_title {
        justify-self: start;
        margin-bottom: 15px;
    }

    .about_us {
        width: 90%;
    }

    .about_box {
        padding-top: 50px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .hero_ab {
        min-height: 300px;
        max-height: 300px;
    }

    .contact_info {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .social_info {
        width: 90%;
        display: grid;
        align-content: center;
        margin-bottom: 50px;
    }

    .map_info {
        width: 90%;
    }

    .map_contact {
        width: 100%;
    }

    .inquietudes {
        width: 90%;
        padding: 10px 10px 50px 10px;
    }

    .insta_blog {
        padding-top: 20px;
    }

    .articulo_container {
        grid-template-columns: 1fr;
    }

    .post_cn .contenido_post {
        padding-top: 50px;
        padding-left: 10px;
        padding-right: 10px;
    }

}
