<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<header id="navi">
  <div class="nav_logo">
      <h2 class="nav_title"><a href="" class="nav_logo_title"><img src=".\assets\images\baidu.svg" alt="favicon" class="nav_img">Vet ElBosque</a></h2>
  </div>
  <nav class="menu">
      <div class="btn">
          <i class="fas fa-times close-btn"></i>
      </div>
      <ul>
          <li><a routerLink="/">Inicio</a></li>
          <li><a routerLink="/about">Quienes somos</a></li>
          <li><a routerLink="/contact">Contacto</a></li>
          <li><a routerLink="/blog">Blog</a></li>
      </ul>
  </nav>
  <div class="btn">
      <i class="fas fa-bars menu-btn"></i>
  </div>
</header>

