
.nav_title {
  font-weight: 300;
}

.nav_logo_title {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
}

.nav_img {
  display: block;
  width: 30px;
}

/* Header */

header {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  transition: 0.6s;
}

header.down {
  background: #184b68;
  padding: 15px 100px;
}

header .menu {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .menu ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .menu ul li {
  list-style: none;
}

header .menu a {
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  margin: 0 30px;
  padding: 7px 12px;
  border-radius: 20px;
  transition: 0.3s;
  transition-property: color, background;
}

header .menu a:hover {
  color: #000;
  background: #fff;
}

header .btn {
  color: #fff;
  font-size: 25px;
  cursor: pointer;
  display: none;
}

@media only screen and (min-width:320px) and (max-width:768px){
	.cards {
		flex-wrap: wrap;
	}
	.card {
		margin: 15px;
	}
}

@media (max-width: 1063px){
    .hero_title {
        font-size: 2.5rem;
    }

    header, header.down {
        padding: 20px 40px;
    }
    header .btn {
        display: block;
    }

    header .menu {
        position: fixed;
        background: #184b68;
        min-width: 330px;
        height: 100vh;
        top: 0;
        right: -100%;
        padding: 80px 50px;
        transition: 0.5s;
        transition-property: right;
    }

    header .menu ul {
        flex-direction: column;
    }

    header .menu.active {
        right: 0;
    }

    header .menu .close-btn {
        position: absolute;
        top: 0;
        left: 0;
        margin: 25px;
    }

    header .menu a {
        display: block;
        font-size: 20px;
        margin: 20px;
        padding: 0 15px;
    }

    .articulo_container {
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px 0px;
        gap: 1em;
    }
}

@media (max-width: 1050px) {
    .contact_info {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .social_info {
        width: 50%;
        display: grid;
        align-content: center;
        margin-bottom: 50px;
    }

    .inquietudes {
        width: 90%;
        padding: 10px 10px 50px 10px;
    }
}

@media (max-width:920px) {
    .articulo_container {
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px 0px;
        gap: 1em;
    }
}

@media (max-width: 800px) {
    .container {
        padding: 70px 0;
    }

    .hero_container {
        padding: 100px 0;
    }

    .hero_title {
        font-size: 2.5rem;
    }

    .cards_main {
        padding-top: 40px;
        gap: 2em;
    }

    .item_icon:last-of-type {
        grid-column: 1/-1;
    }

    .team_container {
        grid-template-columns: 30px 1fr 30px;
    }

    .team_contenido {
        grid-template-columns: 1fr;
        grid-template-rows: max-content max-content;
        gap: 3em;
        justify-content: center;
    }

    .team_img {
        width: 200px;
        height: 200px;
    }

    .dudas_parrafo {
        width: 100%;
    }

    .footer_container {
        flex-wrap: wrap;
    }

    .footer_copy {
        padding: 30px 0;
        text-align: center;
        color: #fff;
    }

    .about_us {
        width: 90%;
    }

    .about_container {
        padding-top: 50px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .hero_ab {
        min-height: 300px;
        max-height: 300px;
    }

    .contact_info {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .social_info {
        width: 60%;
        display: grid;
        align-content: center;
        margin-bottom: 50px;
    }

    .map_info {
        width: 90%;
    }

    .map_contact {
        width: 100%;
    }

    .inquietudes {
        width: 90%;
        padding: 10px 10px 50px 10px;
    }

    .insta_blog {
        padding-top: 20px;
    }

    .post_cn .contenido_post {
        padding-top: 50px;
        padding-left: 20px;
        padding-right: 20px;
    }

}

@media (max-width: 600px) {
    .container {
        padding: 70px 0;
    }

    .post_cn {
        width: 90%;
    }

    .blog_redes {
        flex-direction: column;
    }

    .head_post {
        padding-left: 0;
        padding-right: 0;
    }

    .hero_container {
        padding: 100px 0;
    }

    .hero_title {
        font-size: 2rem;
    }

    .hero_parrafo {
        font-size: 1rem;
    }

    .subtitle {
        font-size: 1.8rem;
    }

    .card_title {
        font-size: 1rem;
    }

    .cards_main {
        width: 100%;
        grid-template-columns: auto;
    }

    .team {
        --padding-container: 60px 0;
    }

    .team_container {
        grid-template-columns: 28px 1fr 28px;
        gap: 0.9em;
    }

    .team_flecha {
        width: 100%;
    }

    .subtitle_cuadro {
        margin-top: 15px;
    }

    .dudas_title {
        font-size: 1rem;
    }

    .footer_copy {
        padding: 30px 0;
        text-align: center;
        color: #fff;
    }

    .footer_title {
        justify-self: start;
        margin-bottom: 15px;
    }

    .about_us {
        width: 90%;
    }

    .about_box {
        padding-top: 50px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .hero_ab {
        min-height: 300px;
        max-height: 300px;
    }

    .contact_info {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .social_info {
        width: 90%;
        display: grid;
        align-content: center;
        margin-bottom: 50px;
    }

    .map_info {
        width: 90%;
    }

    .map_contact {
        width: 100%;
    }

    .inquietudes {
        width: 90%;
        padding: 10px 10px 50px 10px;
    }

    .insta_blog {
        padding-top: 20px;
    }

    .articulo_container {
        grid-template-columns: 1fr;
    }

    .post_cn .contenido_post {
        padding-top: 50px;
        padding-left: 10px;
        padding-right: 10px;
    }

}
