<section class="team">
  <h2 class="team_subtitle">Nuestro <span class="subtitle_cuadro">equipo</span></h2>
  <div class="team_container container">
      <img src=".\assets\images\leftarrow.svg" class="team_flecha" id="before">

      <section class="team_contenido team_contenido--show" data-id="1">
          <div class="team_text">
              <h2 class="subtitle_slider">Juan Perez, <span class="subtitle_cuadro">Médico veterinario</span></h2>
              <p class="team_presentacion">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex provident repellat amet, nesciunt numquam esse labore consequatur ipsum totam a ratione rem ab accusantium ut quam, dolor molestias dolores animi!</p>
          </div>

          <figure class="team_picture">
              <img src=".\assets\images\minion.jpg" class="team_img">
          </figure>

      </section>

      <section class="team_contenido" data-id="2">
          <div class="team_text">
              <h2 class="subtitle_slider">Juliana García, <span class="subtitle_cuadro">Médico veterianario</span></h2>
              <p class="team_presentacion">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex provident repellat amet, nesciunt numquam esse labore consequatur ipsum totam a ratione rem ab accusantium ut quam, dolor molestias dolores animi!</p>
          </div>

          <figure class="team_picture">
              <img src=".\assets\images\minion.jpg" class="team_img">
          </figure>

      </section>

      <section class="team_contenido" data-id="3">
          <div class="team_text">
              <h2 class="subtitle_slider">Carlos Lopez, <span class="subtitle_cuadro">Asistente veterianario</span></h2>
              <p class="team_presentacion">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex provident repellat amet, nesciunt numquam esse labore consequatur ipsum totam a ratione rem ab accusantium ut quam, dolor molestias dolores animi!</p>
          </div>

          <figure class="team_picture">
              <img src=".\assets\images\minion.jpg" class="team_img">
          </figure>

      </section>

      <img src=".\assets\images\rightarrow.svg" class="team_flecha" id="next">
  </div>
</section>
