<section class="cards container">
  <h2 class="subtitle"><span class="subtitle_cuadro">Nuestros servicios</span></h2>
  <p class="services_parrafo">Todo lo necesario para el correcto bienestar de tu mascota</p>
  <div class="cards_main">
      <div class="card">
          <figure>
              <img src=".\assets\images\log1.png"
                  class="card_img">
          </figure>
          <div class="contenido-card">
              <h3 class="card_title">Servicios Médicos</h3>
              <ul class="card_info">
                  <li class="card_item">
                      <img src=".\assets\images\baidu.svg" class="item_icon">
                      <p> Medicina preventiva </p>
                  </li>
                  <li class="card_item">
                      <img src=".\assets\images\baidu.svg" class="item_icon">
                      <p>Consulta general</p>
                  </li>
                  <li class="card_item">
                      <img src=".\assets\images\baidu.svg" class="item_icon">
                      <p>Laboratorio clínico</p>
                  </li>
                  <li class="card_item">
                      <img src=".\assets\images\baidu.svg" class="item_icon">
                      <p>Hospitalización</p>
                  </li>
                  <li class="card_item">
                      <img src=".\assets\images\baidu.svg" class="item_icon">
                      <p>Ecografía</p>
                  </li>
                  <li class="card_item">
                      <img src=".\assets\images\baidu.svg" class="item_icon">
                      <p>Cirugía</p>
                  </li>
                  <li class="card_item">
                      <img src=".\assets\images\baidu.svg" class="item_icon">
                      <p>Farmacia</p>
                  </li>

              </ul>
          </div>
      </div>

      <div class="card">
          <figure>
              <img src=".\assets\images\log2.png"
                  class="card_img">
          </figure>
          <div class="contenido-card">
              <h3 class="card_title">Servicios de Peluquería</h3>
              <ul class="card_info">
                  <li class="card_item">
                      <img src=".\assets\images\baidu.svg" class="item_icon">
                      <p>Peluquería</p>
                  </li>
                  <li class="card_item">
                      <img src=".\assets\images\baidu.svg" class="item_icon">
                      <p> Baño general </p>
                  </li>
                  <li class="card_item">
                      <img src=".\assets\images\baidu.svg" class="item_icon">
                      <p>Baño hidratante</p>
                  </li>
                  <li class="card_item">
                      <img src=".\assets\images\baidu.svg" class="item_icon">
                      <p>Baño medicado</p>
                  </li>
                  <li class="card_item">
                      <img src=".\assets\images\baidu.svg" class="item_icon">
                      <p>Corte y limado de uñas</p>
                  </li>
                  <li class="card_item">
                      <img src=".\assets\images\baidu.svg" class="item_icon">
                      <p>Limpieza de oídos</p>
                  </li>

              </ul>
          </div>
      </div>

      <div class="card">
          <figure>
              <img src=".\assets\images\log3.png"
                  class="card_img">
          </figure>
          <div class="contenido-card">
              <h3 class="card_title">Accesorios</h3>
              <ul class="card_info">
                  <li class="card_item">
                      <img src=".\assets\images\baidu.svg" class="item_icon">
                      <p> Pet shop </p>
                  </li>
                  <li class="card_item">
                      <img src=".\assets\images\baidu.svg" class="item_icon">
                      <p>Microchip y nanochip de identificación</p>
                  </li>

              </ul>
          </div>
      </div>

      <div class="card">
          <figure>
              <img src=".\assets\images\log4.png"
                  class="card_img">
          </figure>
          <div class="contenido-card">
              <h3 class="card_title">Alimentos balanceados</h3>
              <ul class="card_info">
                  <li class="card_item">
                      <img src=".\assets\images\baidu.svg" class="item_icon">
                      <p> Alimento para perros </p>
                  </li>
                  <li class="card_item">
                      <img src=".\assets\images\baidu.svg" class="item_icon">
                      <p>Alimento para gatos</p>
                  </li>

              </ul>
          </div>
      </div>
  </div>
</section>
