<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<app-hero-text [title]="'BLOG DE LAS MASCOTAS'"></app-hero-text>
<section class="blog container">
  <h2 class="subtitle"><span class="subtitle_cuadro">Artículos recientes</span></h2>
  <div class="articulo_container">

      <div class="blog_card">
          <div class="blog_img">
              <img class="img_blog" src=".\assets\images\dogs.jpg" alt="blog img">
              <a routerLink="/blog/post1" class="blog_img_link">
                  <i class="fa-solid fa-arrow-up-right-from-square"></i>
              </a>
          </div>
          <div class="blog_text">
              <strong>Alimentación</strong>
              <a routerLink="/blog/post1">Cuidados con la alimentación de tu mascota</a>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque velit porro nam, facere ullam debitis excepturi, quos numquam, soluta tenetur asperiores ipsum quidem laborum et quo consectetur odit cum illo.</p>
              <div class="blog_autor">
                  <div class="blog_autor_img">
                      <img src=".\assets\images\minion.jpg" alt="img autor">
                  </div>
                  <div class="blog_autor_text">
                      <strong>Vet ElBosque</strong>
                      <span>Abril 14, 2023</span>
                  </div>
              </div>
          </div>
      </div>

      <div class="blog_card">
          <div class="blog_img">
              <img class="img_blog" src=".\assets\images\dog2.jpg" alt="blog img">
              <a href="" class="blog_img_link">
                  <i class="fa-solid fa-arrow-up-right-from-square"></i>
              </a>
          </div>
          <div class="blog_text">
              <strong>Salud física</strong>
              <a href="">La rabia: Qué es, causas, síntomas, tratamientos y como prevenirla</a>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque velit porro nam, facere ullam debitis excepturi, quos numquam, soluta tenetur asperiores ipsum quidem laborum et quo consectetur odit cum illo.</p>
              <div class="blog_autor">
                  <div class="blog_autor_img">
                      <img src=".\assets\images\minion.jpg" alt="">
                  </div>
                  <div class="blog_autor_text">
                      <strong>Vet ElBosque</strong>
                      <span>Abril 14, 2023</span>
                  </div>
              </div>
          </div>
      </div>

      <div class="blog_card">
          <div class="blog_img">
              <img class="img_blog" src=".\assets\images\minion.jpg" alt="blog img">
              <a href="" class="blog_img_link">
                  <i class="fa-solid fa-arrow-up-right-from-square"></i>
              </a>
          </div>
          <div class="blog_text">
              <strong>Accesorios</strong>
              <a href="">Accesorios indispensables para el cuidado de tu mascosta</a>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque velit porro nam, facere ullam debitis excepturi, quos numquam, soluta tenetur asperiores ipsum quidem laborum et quo consectetur odit cum illo.</p>
              <div class="blog_autor">
                  <div class="blog_autor_img">
                      <img src=".\assets\images\minion.jpg" alt="">
                  </div>
                  <div class="blog_autor_text">
                      <strong>Vet ElBosque</strong>
                      <span>Abril 14, 2023</span>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
